// Imports
@import "../base/fonts";
@import "../base/colors";

.ourServices {
	h2,
	h4 {
		font-family: $body;
	}
	h3 {
		font-family: $main;
	}

	p {
		a {
			@apply font-semibold underline text-red-Two hover:text-yellow-Two transition-all ease-in-out duration-500;
		}
	}

	.card:hover {
		transform: scale(1.02);
		transition: all 0.5s ease-in-out;

		.content {
			height: 100%;
			background: none;
			transform: scale(1);
		}
	}
}
