// Colours Variables
$black: #111;
$grey: #cecece;
$white: #ffffff;
$pureBlack: #000;
$darkGrey: #8f8f8f;
$lightGrey: #f5f5f5;
$lightBlack: #292929;

// Main Colours
$red: #cb0007;
$redTwo: #ff0008;
$darkRed: #a70107;
$lightRed: #fa797e;
$darkerRed: #720004;
$darkerRedTwo: #4e0104;
$yellow: #f6ad37;
$yellowTwo: #e8b042;
$yellowThree: #fac546;
$green: #4d6c13;
$greenTwo: #74ae00;
$greenThree: #86bc08;
$greenDark: #57a300;
